*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('wl.avif') no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: transparent;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
    border: 1px solid rgb(102, 102, 102);
    backdrop-filter: blur(15px);
    background: rgba(15, 15, 15, 0.1);
}
.todo-app h2{
    color: brown;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eecedd;
    padding-left: 10px;
    margin-bottom: 30px;
    border-radius: 0px;
    border: 2px solid;
    flex:1;
    
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
.wrapper{
    position: relative;
    /* top: 54%; */
    /* left: 89.5%; */
    /* transform: translate(-50%, -50%); */
    transform: translateX(-3px);
    background: transparent;
    cursor: cell;
    background: rgb(245, 153, 119);
    z-index: 1;
    
    
    
  }
  
  a{
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    cursor: cell;
    padding: 2px;
    
    
  }
  
  a:hover{
    letter-spacing: 4px;
  }
  ul li{
        list-style: none;
        font-size: 20px;
        padding: 15px 20px 20px 50px ;
        cursor: grab;
        user-select: none;
        cursor: grab;
        position: relative;
  }
  ul li::before{
    content: " ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 21%;
    left: 3%;
    background-color: rgb(218, 182, 182);
  }
  ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);

}
ul li span{
    right: 0;
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #818388;

}
